.confirmationButton{
    position: fixed;
    bottom: 2%;
    right: 0px; 
    width:50%;
    margin-right:25%;
    margin-left: 25%;
}

.foodCard{
    border-bottom: 1px solid black;
}

h2{
    padding-top: 0;
}

.totalPrice{
    position: fixed;
    bottom: 10%;
    left: 45%;
}