@import "src/cores/assets/scss/main";

.navigation-bar {
	position: sticky;
	bottom: 0;
	display: flex;
	width: 100vw;
	height: 6.4rem;
	align-items: center;
	justify-content: space-around;
	border-top: solid 0.1rem $grey;
	margin-left: -3.2rem;
	background: white;

	&__item {
		display: flex;
		width: 8rem;
		height: 5.2rem;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		color: $grey;
		font-weight: bold;

		svg {
			width: $icon-m;
			height: $icon-m;
			fill: $grey;
		}
	}
}

.enable {
	color: $primary;

	svg {
		fill: $primary;
	}
}
